# =========================
# APPLICATION
# =========================

APP_NAME=FatigueSense
APP_ENV=development
DEBUG=True


# =========================
# GEMINI
# =========================

GEMINI_API_KEY=
GEMINI_MODEL=
GEMINI_EMBEDDING_MODEL=


# =========================
# MYSQL
# =========================

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=fatiguesense
MYSQL_USER=root
MYSQL_PASSWORD=


# =========================
# NOSQL
# =========================

NOSQL_URI=
NOSQL_DATABASE=fatiguesense


# =========================
# CHROMA
# =========================

CHROMA_PERSIST_DIRECTORY=./backend/data/embeddings