# Environment variables / API keys
.env

# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

keystroke/
__pycache__/
*.pyc
.env
.venv/
venv/